<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/public/stylesheets/css/styles.css">

</head>
<body>

    <div id="dashboard--app">
        <div id="_-hdr--app">
            <i class="menu-btn"></i>

            <div class="user-action--notification">
                <i class="notification-btn"></i>
                <div class="avatar"></div>
            </div>
        </div>

        <div id="_-dash-table--forms">
            <div class="__navigation--table">
                <ul class="navitgation-menu_-_stock-list">
                    <li class="item-list hsT"> Stock de inventario </li>
                    <li class="item-list icon"> <span>Stock disponible</span> </li>
                    <li class="item-list icon"> <span>Stock en averia</span> </li>
                    <li class="item-list icon"> <span>Stock para venta</span> </li>
                    <li class="item-list icon"> <span>Stock en transito</span> </li>
                </ul>

                <ul class="navitgation-menu_-_stock-list">
                    <li class="item-list hsT"> Formularios de requisicion </li>
                    <li class="item-list icon"> <span>Tarjetas graficas</span> </li>
                    <li class="item-list icon"> <span>Motherboards</span> </li>
                    <li class="item-list icon"> <span>Raisers</span> </li>
                    <li class="item-list icon"> <span>Procesadores</span> </li>
                    <li class="item-list icon"> <span>Memoria RAM</span> </li>
                    <li class="item-list icon"> <span>Power Supply</span> </li>
                    <li class="item-list icon"> <span>Maquinas de Antminer</span> </li>
                </ul>

                <ul class="navitgation-menu_-_stock-list">
                    <li class="item-list hsT"> Formularios de registro </li>
                    <li class="item-list icon"> <span>Registro de despachos</span> </li>
                    <li class="item-list icon"> <span>Registro de articulos</span> </li>
                    <li class="item-list icon"> <span>Registro de averias</span> </li>
                    <li class="item-list icon"> <span>Registro de inventarios</span> </li>
                </ul>
            </div>

            <div class="__table--form-fields">
                <div id="available-stock">

                </div>
            </div>
        </div>

    </div>

</body>
</html>
